body {
  margin-top: 54px; }

.login-form {
  text-align: center;
  margin: 80px 40px 10px 40px; }
  @media only screen and (min-device-width: 375px) and (max-device-width: 1000px) {
    .login-form {
      margin: 80px 0 0 0; } }

.register-form {
  text-align: center;
  margin-top: 80px; }
